/* VARIABLES */

:root {
  --highlight-blue: #1da1f2;
  --black: #14171a;
  --dark-gray: #aab8c2;
  --medium-gray: #c7cdd2;
  --light-gray: #f5f8fa;
  --white-to-highlight-blue: invert(48%) sepia(25%) saturate(1800%)
    hue-rotate(150deg) brightness(125%) contrast(80%);
}

* {
  font-family: avenir;
}

body {
  margin: 0px;
  color: var(--black);
  background-image: linear-gradient(var(--dark-gray), var(--light-gray));
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  background: var(--highlight-blue);
  border-radius: 10px;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a {
  text-decoration: none;
}

/* NAVBAR */

#navBar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
  height: 60px;
  bottom: 0px;
  width: 100vw;
  z-index: 1;
}

#navBar * {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#navBar i {
  color: var(--highlight-blue);
}

#navBar h2 {
  font-weight: 300;
  font-size: 25px;
}

/* SIGN UP FORM*/

#sign-up-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

#sign-up-page .sign-up-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 40px 10px 40px;
}

.sign-up-header i {
  margin-bottom: 0px;
  font-size: 30px;
  padding-right: 10px;
  color: var(--highlight-blue);
}

#sign-up-page h1 {
  margin-bottom: 0px;
}

#sign-up-page h2 {
  margin-bottom: 0px;
}

#sign-up-page label {
  font-size: 20px;
}

#sign-up-page div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-gray);
  padding: 15px 40px 15px 40px;
}

#sign-up-page input {
  background: var(--light-gray);
  border: none;
  border-radius: 5px;
  text-align: end;
  padding-right: 10px;
  height: 30px;
  width: 30vw;
  font-size: 20px;
}

#sign-up-pictures {
  display: flex;
  justify-content: space-evenly;
}

#sign-up-pictures img {
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
}

#sign-up-page select {
  font-size: 20px;
  background: white;
  border-radius: 5px;
  text-align: center;
}

#sign-up-page div.gender-radio {
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10px;
  width: 30vw;
  padding-right: 0px;
}

#sign-up-page div.gender-radio input {
  transform: scale(0.5);
}

#sign-up-page .sign-up-activity {
  display: flex;
  flex-direction: column;
  background: var(--light-gray);
  margin: 20px 30px 20px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(1, 6, 36, 0.201) 3px 3px 5px;
}

#sign-up-page .sign-up-activity div {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  border: none;
  margin: 0px;
  padding: 0px;
}

#sign-up-page .sign-up-activity input {
  width: 90%;
  background: white;
}

.sign-up-activity h2 {
  margin: 0px;
  padding: 0px;
}

#sign-up-page .sign-up-submit {
  display: flex;
  justify-content: center;
}

.sign-up-submit button {
  justify-self: center;
  height: 40px;
  width: 180px;
  font-size: 20px;
  margin: 20px;
}

#map-container i {
  position: fixed;
  z-index: 1;
  top: 45vh;
  left: 50vw;
  margin-left: -10px;
  font-size: 40px;
  color: var(--black);
}

#map-container h1 {
  text-align: center;
  width: 100vw;
  margin-top: 40px;
  margin-bottom: -20px;
}

#map-container button {
  height: 40px;
  width: 100px;
  position: fixed;
  bottom: 90px;
  left: 50%;
  margin-left: -50px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

/* LOGIN - SIGNUP */

#authForm {
  background-image: linear-gradient(var(--dark-gray), var(--light-gray));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#authForm .title {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}

#authForm .title span {
  color: var(--highlight-blue);
  font-style: italic;
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.login-form h1 {
  margin-bottom: 30px;
}

.login-form input {
  height: 40px;
  width: 50vw;
  background-color: var(--light-gray);
  font-size: 17px;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.login-form button {
  width: 30vw;
  height: 42px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--highlight-blue);
  color: white;
  font-size: 18px;
}

.remember-chbx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin-top: 20px;
}

input.chbx-btn {
  height: 20px;
  width: 20px;
}

/* PROFILE VIEW */

.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding-bottom: 130px;
  background-image: linear-gradient(var(--dark-gray), var(--light-gray));
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-view .profile-name {
  background: transparent;
  box-shadow: none;
  padding: 0px;
  margin-bottom: -20px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.profile-name i {
  font-size: 30px;
  padding-right: 10px;
  color: var(--highlight-blue);
}

.profile-carousel-image {
  border: none;
  background: transparent;
  height: 100%;
  width: 100%;
}

#profile-view-div {
  border-radius: 10px;
  background: var(--light-gray);
  box-shadow: rgba(1, 6, 36, 0.201) 3px 3px 5px;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 0px 20px 0px 20px;
}

#user-profile-icon {
  margin-top: 30px;
}

#carousel-div {
  border-radius: 10px;
  box-shadow: rgba(1, 6, 36, 0.201) 3px 3px 5px;
  width: 80vw;
  margin: 10px;
  padding: 0px;
}

.profile-view .activity {
  display: flex;
  flex-direction: column;
}

.profile-view .activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.profile-view .activity-header img {
  height: 30px;
  width: 30px;
  padding: 0px;
  box-shadow: none;
  margin-left: -5px;
  margin-top: 15px;
  border-radius: 5px;
}

.profile-view .activity h3 {
  margin: 10px 0px 0px 0px;
}

.profile-view .activity p {
  margin: 10px 0px 10px 0px;
}

/* PROFILE BUTTONS */

.button-container {
  display: flex;
  justify-content: space-between;
  background: transparent;
  box-shadow: none;
  width: 80vw;
  position: fixed;
  bottom: 75px;
  margin: 0px;
  padding: 0px 10vw 0px 10vw;
}

.button-container button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: rgba(1, 6, 36, 0.201) 3px 3px 5px;
}

.button-container i {
  font-size: 25px;
  color: white;
}

.logout-buttons {
  display: flex;
  justify-content: space-between;
  background: transparent;
  box-shadow: none;
  width: 80vw;
  padding: 15px 10vw 0px 10vw;
  position: fixed;
  bottom: 85px;
}

.logout-buttons button {
  height: 40px;
  width: 35vw;
  font-weight: 900;
  font-size: 18px;
  color: white;
  box-shadow: rgba(1, 6, 36, 0.201) 3px 3px 5px;
}
#logout-btn {
  width: 100%;
}
.edit-page-icon {
  height: 35px;
  width: 35px;
  padding: 0px;
  box-shadow: none;
  margin-left: -5px;
  margin-top: 15px;
  border-radius: 5px;
}
/* LIST VIEW */

.list-view h1 {
  border-bottom: 1px solid grey;
  padding: 0px 0px 10px 20px;
  margin-bottom: 0px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid grey;
  padding: 10px 20px 10px 20px;
  background: rgba(255, 255, 255, 0.406);
}

.list-item img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  color: var(--black);
  width: 63vw;
  justify-content: center;
}

.list-item-info h3,
.list-item-info p {
  margin: 3px;
}

.list-item i {
  font-size: 25px;
  color: var(--highlight-blue);
}

.list-no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.no-results-emojis {
  text-align: center;
  font-size: 100px;
  margin-bottom: -30px;
}
/* CHAT */

.chat-app {
  display: flex;
  flex-direction: column;
}

.chat-app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--dark-gray);
  width: 100vw;
  height: 60px;
}

.message-list {
  background: var(--light-gray);
  margin-top: 60px;
  margin-bottom: 120px;
  overflow: auto;
}

.single-message-from-me {
  text-align: end;
  padding: 10px;
  font-size: 20px;
}

.single-message-from-me .message-sender {
  font-weight: 900;
}

.single-message-from-me .message-text {
  padding-right: 20px;
}

.single-message-from-them {
  padding: 10px;
  font-size: 20px;
}

.single-message-from-them .message-sender {
  font-weight: 900;
  color: var(--highlight-blue);
}

.single-message-from-them .message-text {
  padding-left: 20px;
}

.send-message-form input {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 60px;
  background: lightblue;
  font-size: 20px;
  padding-left: 20px;
}

/* ANIMATIONS */

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 250ms linear;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms linear 250ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

.loading-spinner {
  z-index: -1;
  position: fixed;
  font-size: 100px;
  margin: 20px;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  color: var(--highlight-blue);
  opacity: 0.5;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  opacity: 0.4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}
.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: '';
}
.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none;
}
.carousel .control-prev.control-arrow {
  left: 0;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff;
}
.carousel .control-next.control-arrow {
  right: 0;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel img {
  width: 100%;
  display: inline-block;
  pointer-events: none;
}
.carousel .carousel {
  position: relative;
}
.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}
.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden;
}
.carousel .thumbs {
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
}
.carousel .thumb {
  -webkit-transition: border 0.15s ease-in;
  -moz-transition: border 0.15s ease-in;
  -ms-transition: border 0.15s ease-in;
  -o-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
  display: inline-block;
  width: 80px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px;
}
.carousel .thumb:focus {
  border: 3px solid #ccc;
  outline: none;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #333;
}
.carousel .thumb img {
  vertical-align: top;
}
.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
}
.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}
.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height 0.15s ease-in;
  -moz-transition: height 0.15s ease-in;
  -ms-transition: height 0.15s ease-in;
  -o-transition: height 0.15s ease-in;
  transition: height 0.15s ease-in;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column;
}
.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}
.carousel .slider.animated {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: transparent;
}
.carousel .slide img {
  border-radius: 10px;
  width: 100%;
  vertical-align: top;
  border: 0;
}
.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0;
}
.carousel .slide .legend {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -ms-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}
@media (min-width: 960px) {
  .carousel .control-dots {
    bottom: 0;
  }
}
.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}
.carousel:hover .slide .legend {
  opacity: 1;
}
