.App {
  text-align: center;
}
* {
  font-family: avenir;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-pic-toJudge-container {
  display: flex;
  justify-content: center;
}
.profile-pic-toJudge {
  border-radius: 150px;
  margin-top: 20px;
}
.name-toJudge {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.decision-page-container {
  background-color: #2a475e;
}
.activity-list-container {
  color: white;
  display: flex;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: center;
}
.single-btn-yes {
  font-size: 20px;
  color: black;
  margin: 50px;
  height: 65px;
  width: 65px;
  border-radius: 150px;
  background-color: #00b489;
  cursor: pointer;
}
.single-btn-no {
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin: 50px;
  height: 65px;
  width: 65px;
  border-radius: 150px;
  background-color: lightcoral;
}
.single-btn-no:hover {
  color: white;
  background-color: red;
}
.single-btn-yes:hover {
  color: white;
  background-color: #64e687;
}
.activities-list {
  font-size: 30px;
  margin: 25px;
}
.activity-list-subcontainer {
  display: flex;
  flex-direction: row;
}
.workouts-h2 {
  text-align: center;
  width: 85%;
}
#navBar {
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  color: white;
  margin-bottom: 1px;
}
.navbar-h2 {
  color: white;
}
button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.decision-page {
  width: 550px;
  box-shadow: 0 5px 10px black;
  border-radius: 35px;
  margin: 0 auto;
  background-color: #075e54;
}
