/* VARIABLES */
:root {
  --highlight-blue: #1da1f2;
  --black: #14171a;
  --dark-gray: #aab8c2;
  --medium-gray: #e1e8ed;
  --light-gray: #f5f8fa;
  --white-to-highlight-blue: invert(48%) sepia(25%) saturate(1800%)
    hue-rotate(150deg) brightness(125%) contrast(80%);
}

* {
  font-family: avenir;
}

body {
  margin: 0px;
  color: var(--black);
}

button {
  background: var(--highlight-blue);
  border-radius: 10px;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* GOOGLE MAP */
#map {
  height: 150px;
  padding: 10px;
  margin: 30px;
  border-radius: 10px;
}

/*DECISION PAGE*/
.decision-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--medium-gray);
  max-width: 500px;
  height: 100vh;
}

.decision-page > * {
  margin: 10px 0px 10px 0px;
  box-shadow: rgba(167, 167, 167, 0.605) 2px 2px 5px;
}

.decisionStats {
  box-shadow: none;
  margin: 10px 0px 0px 0px;
}

.profile-pic-toJudge-container {
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.profile-pic-toJudge {
  border-radius: 15px;
  width: 75vw;
}

.name-toJudge {
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  border-radius: 15px;
  margin-bottom: 0px;
  box-shadow: none;
}

.name-toJudge h1 {
  margin: 0px;
  padding: 0px;
}

.activity-cont {
  width: 75vw;
  height: 50px;
  background: var(--light-gray);
  border-radius: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 75px;
  width: 85vw;
  box-shadow: none;
}

.button-container button {
  font-size: 20px;
  color: black;
  height: 55px;
  width: 55px;
  border-radius: 150px;
  background-color: var(--highlight-blue);
  cursor: pointer;
}

.single-btn-no:hover {
  color: white;
  background-color: red;
}

.single-btn-yes:hover {
  color: white;
  background-color: #64e687;
}

/* NAVBAR */

#navBar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
  color: var(--light-gray);
  height: 60px;
  bottom: 0px;
  width: 100vw;
  z-index: 1;
}

#navBar * {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#navBar i {
  filter: var(--white-to-highlight-blue);
}

#navBar h2 {
  font-weight: 300;
  font-size: 25px;
}

/*USER PROFILE*/

#userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userProfile > * {
  margin: 10px 0px 0px 0px;
}

#userProfile img {
  border-radius: 10px;
  height: 50vw;
  width: 50vw;
}

.logout-btn {
  /* height: 400px; */
  font-size: 25px;
  background-color: var(--highlight-blue);
  color: white;
  border-radius: 15px;
  position: fixed;
  bottom: 65px;
}

.logout-btn:hover {
  background-color: red;
}

/* SIGN UP FORM*/

#sign-up-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

#sign-up-page h2 {
  margin-left: 7.5vw;
  margin-bottom: 0px;
}

#sign-up-page div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-gray);
  padding: 10px 20px 10px 20px;
}

#sign-up-page input {
  background: var(--medium-gray);
  border: none;
}

#sign-up-pictures {
  display: flex;
  justify-content: space-evenly;
}

#sign-up-pictures img {
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
}

#sign-up-page .sign-up-submit {
  display: flex;
  justify-content: center;
}

.sign-up-submit button {
  justify-self: center;
  height: 40px;
  width: 180px;
  font-size: 20px;
  margin: 20px;
}

/* LOGIN - SIGNUP */

#authForm {
  background-image: linear-gradient(var(--dark-gray), var(--light-gray));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#authForm .title {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}

#authForm .title span {
  color: var(--highlight-blue);
  font-style: italic;
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.login-form h1 {
  margin-bottom: 30px;
}

.login-form input {
  height: 40px;
  width: 50vw;
  background-color: var(--light-gray);
  font-size: 17px;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.login-form button {
  width: 30vw;
  height: 42px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--highlight-blue);
  color: white;
  font-size: 18px;
}

.remember-chbx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40vw;
  margin-top: 20px;
}

input.chbx-btn {
  height: 20px;
  width: 20px;
}

/* MATCHES PAGE */

.no-likes {
  height: 650px;
  display: flex;
  justify-content: center;
  background-color: #075e54;
}

.single-match-container {
  display: flex;
  height: 70px;
  border: 5px solid var(--highlight-blue);
}

.profile-pic-matches {
  height: 70px;
  border-radius: 15px;
}

.match-info {
  display: flex;
  font-size: 20px;
  color: var(--black);
  width: 75vw;
  justify-content: space-between;
}

/* CHAT */
.chat-app {
  display: flex;
  flex-direction: column;
}

.chat-app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: var(--dark-gray);
  width: 100vw;
  height: 60px;
}

.message-list {
  background: var(--light-gray);
  margin-top: 60px;
  margin-bottom: 120px;
  overflow: auto;
}

.single-message {
  padding: 10px;
  font-size: 20px;
}

.message-sender {
  font-weight: 900;
}

.message-text {
  padding-left: 20px;
}

.send-message-form input {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 60px;
  background: lightblue;
  font-size: 20px;
  padding-left: 20px;
}
